body {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}

.gallery img {
	width: 30%;
	margin-bottom: 20px;
}
