* {
    padding: 0%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: black; */
}

body {

}

.container {
    width: 100%;
    /* height: 100vh; */
    height: fit-content;
    /* border: blue 3px solid; */
}
.header {
    position: relative;
    height: 20vh;
    width: 100%;
    /* border: 2px solid yellow; */
    /* background-image: linear-gradient(to right, rgb(66, 82, 80), rgb(160, 66, 66)); */
    /* border-bottom: 1vh solid black; */
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: fit-content; */
    /* border: red 1px solid; */
}
.menu2 {
    display: none;
}

#logo {
    /* border: blue 1px solid; */
    position: absolute;
    top: 55%;
    left: 15%;
    transform: translate(-50%, -50%);
}
.logo {
    width: 240px;
    height: 60px;
}

.menu-box {
    transition: 2s linear;
    display: none;
}
.menu-icon {
    width: 35px;
    border: 1px solid white;
    margin: 6px;
}

.menu a {
    text-decoration: none;
    color: white;
    border: 1px white solid;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 25px;
    border-radius: 6px; 
}
.menu a:hover {
    color: black;
    background-color: white;
}

.instagram img {
    position: absolute;
    top: 30%;
    right: 5%;
    height: 50px;
    width: 50px;
    
}
.facebook img {
    position: absolute;
    top: 30%;
    right: 10%;
    height: 50px;
    width: 50px;
}

/* content */

.content {
    position: relative;
    height: 80vh;
    width: 100%;
    padding-top: 10vh;
}

.contents {
    margin: auto;
    position: relative;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 150vh;
    height: fit-content;
    display: flex;
    /* border: yellow 1px solid; */
}
.nama {
    margin-top: 130px;
    margin-right: 30px;
    font-size: 40px;
    color: white;
}

.msg {
    text-decoration: none;
    font-size: 15px;
    color: white;
    border: white 1px solid;
    padding: 15px;
    border-radius: 12px;
    /* background-image: linear-gradient(to right, rgb(66, 82, 80), rgb(160, 66, 66)); */
    animation: msgg 3s infinite;
}
@keyframes msgg {
    0% { background-color: rgb(66, 82, 80); }
    50% { background-color: rgb(160, 66, 66); }
    100% {background-color: rgb(66, 82, 80);;}
}
.msg:hover {
    background-color: rgb(160, 66, 66) !important;
}
.fpic {
    margin-left: 14vh;
    height: 470px;
    width: 380px;
    border-bottom: white 2px solid;
    /* border: white inset 4px;
    border-left: none;
    border-top: none; */
    /* border-radius: 120px; */
}
.bg-content {
    /* border: green solid 10px; */
    content: "";
    position: absolute;
    top: -25%;
    height: 125%;
    width: 100%;
    transform: rotate(180deg);
    background-image: conic-gradient(at 50% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));
    animation: bgcg 100s infinite;
    z-index: -1;
}

/* @keyframes bgcg {
    1% {background-image: conic-gradient(at 2% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    2% {background-image: conic-gradient(at 4% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    3% {background-image: conic-gradient(at 6% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    4% {background-image: conic-gradient(at 8% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    5% {background-image: conic-gradient(at 10% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    6% {background-image: conic-gradient(at 12% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    7% {background-image: conic-gradient(at 14% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    8% {background-image: conic-gradient(at 16% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    9% {background-image: conic-gradient(at 18% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    10% {background-image: conic-gradient(at 20% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    11% {background-image: conic-gradient(at 22% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    12% {background-image: conic-gradient(at 24% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    13% {background-image: conic-gradient(at 26% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    14% {background-image: conic-gradient(at 28% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    15% {background-image: conic-gradient(at 30% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    16% {background-image: conic-gradient(at 32% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    17% {background-image: conic-gradient(at 34% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    18% {background-image: conic-gradient(at 36% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    19% {background-image: conic-gradient(at 38% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    20% {background-image: conic-gradient(at 40% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    21% {background-image: conic-gradient(at 42% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    22% {background-image: conic-gradient(at 44% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    23% {background-image: conic-gradient(at 46% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    24% {background-image: conic-gradient(at 48% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    25% {background-image: conic-gradient(at 50% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    26% {background-image: conic-gradient(at 52% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    27% {background-image: conic-gradient(at 54% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    28% {background-image: conic-gradient(at 56% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    29% {background-image: conic-gradient(at 58% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    30% {background-image: conic-gradient(at 60% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    31% {background-image: conic-gradient(at 62% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    32% {background-image: conic-gradient(at 64% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    33% {background-image: conic-gradient(at 66% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    34% {background-image: conic-gradient(at 68% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    35% {background-image: conic-gradient(at 70% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    36% {background-image: conic-gradient(at 72% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    37% {background-image: conic-gradient(at 74% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    38% {background-image: conic-gradient(at 76% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    39% {background-image: conic-gradient(at 78% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    40% {background-image: conic-gradient(at 80% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    41% {background-image: conic-gradient(at 82% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    42% {background-image: conic-gradient(at 84% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    43% {background-image: conic-gradient(at 86% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    44% {background-image: conic-gradient(at 88% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    45% {background-image: conic-gradient(at 90% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    46% {background-image: conic-gradient(at 92% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    47% {background-image: conic-gradient(at 94% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    48% {background-image: conic-gradient(at 96% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    49% {background-image: conic-gradient(at 98% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));}
    50% {background-image: conic-gradient(at 100% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    51% {background-image: conic-gradient(at 2% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    52% {background-image: conic-gradient(at 4% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    53% {background-image: conic-gradient(at 6% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    54% {background-image: conic-gradient(at 8% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    55% {background-image: conic-gradient(at 10% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    56% {background-image: conic-gradient(at 12% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    57% {background-image: conic-gradient(at 14% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    58% {background-image: conic-gradient(at 16% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    59% {background-image: conic-gradient(at 18% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    60% {background-image: conic-gradient(at 20% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    61% {background-image: conic-gradient(at 22% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    62% {background-image: conic-gradient(at 24% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    63% {background-image: conic-gradient(at 26% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    64% {background-image: conic-gradient(at 28% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    65% {background-image: conic-gradient(at 30% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    66% {background-image: conic-gradient(at 32% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    67% {background-image: conic-gradient(at 34% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    68% {background-image: conic-gradient(at 36% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    69% {background-image: conic-gradient(at 38% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    70% {background-image: conic-gradient(at 40% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    71% {background-image: conic-gradient(at 42% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    72% {background-image: conic-gradient(at 44% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    73% {background-image: conic-gradient(at 46% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    74% {background-image: conic-gradient(at 48% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    75% {background-image: conic-gradient(at 50% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    76% {background-image: conic-gradient(at 52% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    77% {background-image: conic-gradient(at 54% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    78% {background-image: conic-gradient(at 56% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    79% {background-image: conic-gradient(at 58% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    80% {background-image: conic-gradient(at 60% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    81% {background-image: conic-gradient(at 62% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    82% {background-image: conic-gradient(at 64% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    83% {background-image: conic-gradient(at 66% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    84% {background-image: conic-gradient(at 68% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    85% {background-image: conic-gradient(at 70% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    86% {background-image: conic-gradient(at 72% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    87% {background-image: conic-gradient(at 74% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    88% {background-image: conic-gradient(at 76% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    89% {background-image: conic-gradient(at 78% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    90% {background-image: conic-gradient(at 80% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    91% {background-image: conic-gradient(at 82% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    92% {background-image: conic-gradient(at 84% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    93% {background-image: conic-gradient(at 86% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    94% {background-image: conic-gradient(at 88% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    95% {background-image: conic-gradient(at 90% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    96% {background-image: conic-gradient(at 92% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    97% {background-image: conic-gradient(at 94% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    98% {background-image: conic-gradient(at 96% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    99% {background-image: conic-gradient(at 98% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    100% {background-image: conic-gradient(at 100% 0%, rgb(160, 66, 66), rgb(160, 66, 66), rgb(66, 82, 80), rgb(66, 82, 80));}
    
} */

/* about */

.about {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 40px;
    /* border: solid green 3px; */
}

.about-me {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* border: 10px red solid; */
    width: 80%;
    padding: 10px;
    font-size: 15px;
    border-radius: 12px;
    height: fit-content;
    display: flex;
    margin: auto;
    transition: .3s ease;
}
/* .about-me:hover {
    color: black;
    background-color: white;
} */

.about-text {
    /* float: left; */
    margin: 25px;
    margin-top: 20px;
    border-radius: 12px;
    /* border: 1px solid black; */
}

.profile {
    width: 300px;
    height: 400px;
    margin: 20px;
    /* border: 1px red solid; */
    border-radius: 12px;
}

.bg-about::before {
    /* border: green solid 1px; */
    content: "";
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(at 50% 0%, rgb(66, 82, 80), rgb(66, 82, 80), rgb(160, 66, 66), rgb(160, 66, 66));
    z-index: -1;
}

/*galeri*/

.galeri {
    position: relative;
    width: 100%;
    height: 90vh;
    /* padding-top: 2.5vh; */
    /* padding: 10px; */
    background-image: linear-gradient(to left,rgb(160, 66, 66), rgb(66, 82, 80));
}
.galeri h1 {
    margin-bottom: 5vh;
    color: white;
    font-size: 40px;
    text-align: center;
}

.foto1 {
    grid-area: satu;
    background-image: url("../images/1.jpeg");
}
.foto2 {
    grid-area: dua;
    background-image: url("../images/2.jpeg");
}
.foto3 {
    grid-area: tiga;
    background-image: url("../images/3.jpeg");
}
.foto4 {
    grid-area: empat;
    background-image: url("../images/4.jpeg");
}
.foto5 {
    grid-area: lima;
    background-image: url("../images/5.jpeg");
}
.foto6 {
    grid-area: enam;
    background-image: url("../images/6.jpeg");
}
.foto7 {
    grid-area: tujuh;
    background-image: url("../images/7.jpeg");
}

.box-galeri {
    position: relative;
    margin: auto;
    height: 70vh;
    width: 80%;
    display: grid;
    grid-template-areas: 
    'satu satu dua tiga'
    'empat lima lima tiga'
    'empat enam tujuh tujuh';
    gap: 4vh;
    padding: 10px;
    /* border: 1px solid white; */
}
.box-galeri div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 1px white solid;
    /* background-color: green; */
    border-radius: 12px;
    text-align: center;
    background-size: cover;
    background-position: center;
    transition: 0.3s ease;
}
.box-galeri div:hover {
    width: 110%;
    height: 110%;
    border: 1px red solid;
    z-index: 100;
}
.btn {
    background-color: transparent;
    padding: 2vh;
    border: white 1px solid;
    border-radius: 12px;
    font-size: 30px;
    font-weight: 1000;
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.previous:hover {
    background-color: rgb(160, 66, 66);
}
.next:hover {
    background-color: rgb(66, 82, 80);
}
.next {
    right: 1%;
}
.previous {
    left: 5%;
}

.gallery {
    display: none;
}
.display {
    display: block;
    padding-top: 2.5vh;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    /* border: blue 1px solid; */
    opacity: 50%;
}

/* .foto-galeri {
    width: 10vh;
    height: 10vh;
} */

/* .right {
    float: right;
}
.left {
    float: left;
} */

/* footer */

.footer {
    position: relative;
    height: 10vh;
    /* padding-top: 10px; */
    width: 100%;
    background-color: grey;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .container {
        height: 100vh;
    }
    .header {
        height: 15%;
    }
    .content {
        height: 85%;
    }
    .nama {
        margin-top: 0px;
        /* margin-right: 30px; */
        font-size: 20px;
    }
    .menu {
        display: none;
    }
    .menu2 {
        position: absolute;
        margin-left: 15px;
        margin-top: 15px;
        width: fit-content;
        /* display: grid; */
        background-color: transparent;
        border: 1px white solid;
        transition: display 1s;
        /* border-radius: 12px; */
        /* padding: 10px; */
    }
    .menu2 a {
        font-size: 15px;
        text-align: center;
        padding: 20px;
        /* border-radius: 12px; */
        /* margin: 20px; */
        color: white;
        border: none;
        text-decoration: none;
        z-index: 1;
    }
    .close {
        position: absolute;
        top: 50%;
        right: -20%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        z-index: 1;
    }
    .menu2 a:hover {
        color: black;
        background-color: white;
    }
    #logo {
        width: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .logo {
        width: 144px;
        height: 36px;
    }
    .medsos {
        /* margin: 10px;
        padding: 10px; */
    }
    .medsos img {
        /* position: absolute;
        border: blue 1px solid; */
        padding: 10px;
        height: 25px;
        width: 25px;
    }
    .facebook img {
        right: 15%;
    }
    .menu-box {
        display: block;
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50%, -50%);
    }
    .fpic {
        /* position: absolute; */
        /* top: 60%; */
        margin-top: 20px;
        margin-left: 20%;
        height: 235px;
        width: 180px;
    }
    .msg {
        font-size: 8px;
    }
    .contents {
        position: relative;
        /* top: 15%; */
        /* left: 50%; */
        /* right: 50%; */
        /* transform: translate(-50%, -50%); */
        width: fit-content;
        display: block;
        /* border: 1px red solid; */
    }
    .profile {
        float: left;
        width: 99px;
        height: 132px;
    }
    .about {
        padding-top: 10px;
        padding-bottom: 10px;
        /* border: blue 3px solid; */
        height: 100%;
    }
    .about-text {
        /* margin-top: 20px; */

    }
    .about-text p {
        text-align: justify;
        font-size: 12px;

    }
    .about-me {
        /* border: 3px red solid; */
        /* padding: 0px; */
        display: block;
        font-size: 8px;
        /* border: none; */
    }
    .footer {
        padding-top: 15px;
        height: 15%;
    }
    .info {
        font-size: 10px;
    }
}